{% load static %}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
	
<title>Covid</title>
	<link href="{% static 'img/favicon.ico' %}" rel="icon" />
    <link href="{% static 'img/favicon.ico' %}"  rel="apple-touch-icon" />
	<link rel="stylesheet" href="{% static 'css/tailwind.min.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
  	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>


<section>
	<nav class="navbar navbar-expand-custom navbar-mainbg">
        <a class="navbar-brand navbar-logo" href="{% url 'home' %}">Covid</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>

                {% if '/' in request.path %}
                  <li class="nav-item active">
                      <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                  </li>
                {% endif %}

                {% if 'beds' in request.path %}
                  <li class="nav-item active">
                      <a class="nav-link" href="{% url 'beds' %}"><i class="far fa-address-book"></i>Beds(Covid)</a>
                  </li>
                {% else %}
                  <li class="nav-item ">
                      <a class="nav-link" href="{% url 'beds' %}"><i class="far fa-address-book"></i>Beds(Covid)</a>
                  </li>
                {% endif %}

                {% if 'oxygen' in request.path %}
                  <li class="nav-item active">
                      <a class="nav-link" href="{% url 'oxygen' %}"><i class="far fa-clone"></i>Oxygens</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'oxygen' %}"><i class="far fa-clone"></i>Oxygens</a>
                  </li>
                {% endif %}

                {% if 'contact' in request.path %}
                  <li class="nav-item active">
                      <a class="nav-link" href="{% url 'contact-us' %}"><i class="far fa-calendar-alt"></i>Contact</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'contact-us' %}"><i class="far fa-calendar-alt"></i>Contact</a>
                  </li>
                {% endif %}

                {% if 'charts' in request.path %}
                  <li class="nav-item active">
                      <a class="nav-link" href="{% url 'charts' %}"><i class="far fa-chart-bar"></i>Charts</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'charts' %}"><i class="far fa-chart-bar"></i>Charts</a>
                  </li>
                {% endif %}
                
                {% if 'donate' in request.path %}
                  <li class="nav-item active">
                      <a class="nav-link" href="{% url 'donate' %}"><i class="far fa-copy"></i>Donate</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'donate' %}"><i class="far fa-copy"></i>Donate</a>
                  </li>
                {% endif %}
            </ul>
        </div>
    </nav>
	</section>	 

{% block content %}

{% endblock %}

{% include 'partials/_footer.html' %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>

</html>