{% extends 'base.html' %}

{% load static %}

{% block content %}

<body>
    <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
    <div class="flex-1 flex justify-between sm:hidden">
      <a href="./index.html" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
        Home
      </a>
      <a href="./beds.html" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
        Beds
      </a>
    </div>
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
      <div>
        <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
          <a href="#" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
            <span class="sr-only"></span>
            <!-- Heroicon name: solid/chevron-left -->
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
          </a>
          <!-- Current: "z-10 bg-indigo-50 border-indigo-500 text-indigo-600", Default: "bg-white border-gray-300 text-gray-500 hover:bg-gray-50" -->
          <a href="./index.html" aria-current="page" class="z-10 bg-indigo-50 border-indigo-500 text-indigo-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium">
            Home
          </a>
          <a href="#"  class=" bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium">
        Oxygens
          </a>
        </nav>
      </div>
    </div>
  </div>

    <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
          <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
        </svg>
        <p class="leading-relaxed text-lg">This website only shows the number of available Covid Centres and NOT the availability of the covid beds.
  For all those who are seeking admission in a hopsital, please abide by the rules & regulations set forth by the relevant government authorities.</p>
        <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
        <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm"></h2>
        <p class="text-gray-500">Managing Team</p>
      </div>
    </div>
  </section>
    <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr >
                <th scope="col" rowspan="2"  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider ">
                  Institution
                </th><th scope="col" colspan="3" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Covid beds
                </th>
                <th scope="col" colspan="3" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Oxygen bed
                </th>
                <th scope="col" colspan="3" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Non Oxygen bed
                </th>
                <th scope="col" colspan="3"" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                ICU bed
                </th><th scope="col" colspan="3" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Ventilator bed
                </th>
                <th scope="col" class="relative px-6 py-3">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr>
                <td class="px-6 py-4 whitespace-nowrapn border-black border-2 ">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                        SR Hospital
                      </div>
                    </div>
                  </div>
                </td>
          
                <td class="px-6 py-4 whitespace-nowrap border-black border-2 ">
                  <div class="text-sm text-gray-900">Total</div>
                  
                </td><td class="px-6 py-4 whitespace-nowrap border-black border-2 ">
                  <div class="text-sm text-gray-900 ">Occupied</div>
                  
                </td><td class="px-6 py-4 whitespace-nowrap  border-2  border-green-400	">
                  <div class="text-sm text-gray-900">Vacent</div>
                  
                </td>
            </div>
                <td class="px-6 py-4 whitespace-nowrap border-green-400	 border-2 ">
                  <!--<span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    Active
                  </span>-->
            <div class="text-sm text-gray-900">Total</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap  border-2  border-green-400	">
                  <div class="text-sm text-gray-900">Occupied</div>
                  
                </td><td class="px-6 py-4 whitespace-nowrap  border-2  border-green-400	">
                  <div class="text-sm text-gray-900">Vacent</div>
                  
                </td>
          <td class="px-6 py-4 whitespace-nowrap  border-2  border-purple-900		">
                  <!--<span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    Active
                  </span>-->
            <div class="text-sm text-gray-900 ">Total</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap  border-2  border-purple-900">
                  <div class="text-sm text-gray-900">Occupied</div>
                  
                </td><td class="px-6 py-4 whitespace-nowrap  border-2  border-purple-900">
                  <div class="text-sm text-gray-900">Vacent</div>
                  
                </td>
                <td class="px-6 py-4 whitespace-nowrap  border-2  border-purple-900		">
                  <!--<span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    Active
                  </span>-->
            <div class="text-sm text-gray-900 ">Total</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap  border-2  border-purple-900">
                  <div class="text-sm text-gray-900">Occupied</div>
                  
                </td><td class="px-6 py-4 whitespace-nowrap  border-2  border-purple-900">
                  <div class="text-sm text-gray-900">Vacent</div>
                  
                </td>
                <td class="px-6 py-4 whitespace-nowrap  border-2  border-purple-900		">
                  <!--<span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    Active
                  </span>-->
            <div class="text-sm text-gray-900 ">Total</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap  border-2  border-purple-900">
                  <div class="text-sm text-gray-900">Occupied</div>
                  
                </td><td class="px-6 py-4 whitespace-nowrap  border-2  border-purple-900">
                  <div class="text-sm text-gray-900">Vacent</div>
                  
                </td>
              </tr>
          <tr>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
          </tr>
          <tr>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>
              <td class=" border-2  border-purple-900 text-center ">1</td>

          </tr>
            
          </table>
        </div>
      </div>
    </div>
  </div>
        
</body>

{% endblock %}

